# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# Editors
.vscode/
.idea/

# mypy
.mypy_cache/

# mkdocs
site/
